*{
    margin: 0px; 
    padding: 0px;
}
.detalii{
    /* display: grid; */
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(5,1fr);   */
    padding-top: 10px;
    /* border: 1px solid green; */
    
    font-size: 12.5px;
    /* width: 400px; */
}
.weather{
    display: flex;
    flex-direction: row;
    border: 1px solid green;
   
    padding-left: 10px;
    margin: 10px;
    font-size: 20px;
    width: 800px;
}
.button{
    margin-top: 0px;
}
.day{
    display: flex;
    flex-direction: row;
    /* gap:50px; */
    /* grid-template-columns: repeat(5,1fr); */
    justify-content: space-between;
    /* border: 1px solid green; */
    
}
